* {
  box-sizing: border-box;
}
.run_automatically {
  color: #e1acac;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  border: 2px solid white;
  background-color: #ca2222;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider:after
{
 content:'NO';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 70%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'YES';
  left: 16px;
}

.borderright {
  border-right: 4px solid #4fff14;
  position: absolute;
  top: 0;
  right: 0;
  height:100%;
}
.borderleft {
  border-left: 4px solid #4fff14;
  position: absolute;
  bottom: 0;
  left: 0;
  height:100%;
}
.borderbottom {
  border-bottom: 4px solid #4fff14;
  position: absolute;
  bottom: 0;
  right: 0;
  width:100%;
}
.bordertop {
  border-top: 4px solid #4fff14;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}
.div {
  position: relative;
  width: 405px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.dot_cover {
  line-height: 0;
  display: flex;
  justify-content: space-around;
}

.pointer_event{
  pointer-events: none;
}

.token {
  width: 15px;
  height: 25px;
  margin-left: 4px;
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
.run_token {
  width: 15px;
  height: 25px;
  top: -5px;
  left: 4px;
  z-index: 2;
  position: absolute;
}
.animation_0{
  width: 27px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: -2px;
  animation: mymove_0 600ms ;
}
.animation_1{
  width: 27px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: -2px;
  animation: mymove_1 600ms ;
}
.animation_2{
  width: 27px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: -2px;
  animation: mymove_2 600ms ;
}

.animation_3{
  width: 27px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: -2px;
  animation: mymove_3 600ms ;
}
@keyframes mymove_0 {
  0% { clip-path: circle(25%);background:#06a049;  } 
  50% { clip-path: circle(15%);background:#06a049;  } 
  75% { clip-path: circle(15%);background:#06a049;  } 
  100% { clip-path: circle(5%);background:#06a049;  }
} 
@keyframes mymove_1 {
  0% { clip-path: circle(25%);background:#ffde15;  } 
  50% { clip-path: circle(15%);background:#ffde15;  } 
  75% { clip-path: circle(15%);background:#ffde15;  } 
   100% { clip-path: circle(5%);background:#ffde15;  }
} 
@keyframes mymove_2{
  0% { clip-path: circle(25%);background:#27abfd;  } 
  50% { clip-path: circle(15%);background:#27abfd;  } 
  75% { clip-path: circle(15%);background:#27abfd;  } 
   100% { clip-path: circle(5%);background:#27abfd;  }
} 
@keyframes mymove_3 {
  0% { clip-path: circle(25%);background:#eb1c22;  } 
  50% { clip-path: circle(15%);background:#eb1c22;  } 
  75% { clip-path: circle(15%);background:#eb1c22;  } 
   100% { clip-path: circle(5%);background:#eb1c22;  }
} 
img {
  display: block;
}
.tokens {
  height: 20px;
  width: 9px;
  float: left;
  margin-left: -4px;
  margin-top: auto;
  position: relative;
}
.token2 {
  padding-left: 10.5px;
}
.token3 {
  padding-left: 7px;
}
.token4 {
  padding-left: 5px;
}
.dot {
  width: 8px;
  height: 8px;
  border: 1px solid #06a049;
  background: radial-gradient(circle, #0f7a0d, white, white);
  border-radius: 50%;
}
.dice_cover {
  background-image: linear-gradient(#efd8d9, #e6b2b3);
  width: 52px;
  height: 52px;
  border: 1px solid black;
  border-radius: 6%;
  
}
.border_animation{
  animation: animation_for_dice 1000ms infinite ;
}
.dice {
  width: 42px;
  height: 42px;
  margin: 4px auto;
}
.dice_margin{
  margin: auto;
}
.inside_token_animation{
  animation: animation_for_inside_token 1000ms infinite ;
}
@keyframes animation_for_inside_token{
  0% { border: 2px solid rgb(236, 32, 32);}
  10% { border: 2px solid rgb(118, 64, 206);}
  20% { border: 2px solid rgb(39, 158, 255);}
  30% { border: 2px solid rgb(250, 35, 124);} 
  40% { border: 2px solid rgb(98, 196, 163);} 
  50% { border: 2px solid rgb(68, 250, 78);}
  60% { border: 2px solid rgb(68, 37, 243);} 
  70% { border: 2px solid rgb(85, 0, 134);} 
  80% { border: 2px solid rgb(125, 255, 18);} 
  90% { border: 2px solid rgb(0, 255, 157);} 
  100% { border: 2px solid rgb(255, 146, 74);} 
}
.outside_token_animation{
  animation: animation_for_outside_token 1000ms infinite ;
}
@keyframes animation_for_outside_token{
  0% { outline-offset: -2px; outline: 2px solid rgb(236, 32, 32);}
  10% { outline-offset: -2px; outline: 2px solid rgb(118, 64, 206);}
  20% { outline-offset: -2px; outline: 2px solid rgb(39, 158, 255);}
  30% { outline-offset: -2px; outline: 2px solid rgb(250, 35, 124);} 
  40% { outline-offset: -2px; outline: 2px solid rgb(98, 196, 163);} 
  50% { outline-offset: -2px; outline: 2px solid rgb(68, 250, 78);}
  60% { outline-offset: -2px; outline: 2px solid rgb(68, 37, 243);} 
  70% { outline-offset: -2px; outline: 2px solid rgb(85, 0, 134);} 
  80% { outline-offset: -2px; outline: 2px solid rgb(125, 255, 18);} 
  90% { outline-offset: -2px; outline: 2px solid rgb(0, 255, 157);} 
  100% { outline-offset: -2px; outline: 2px solid rgb(255, 146, 74);} 
}
@keyframes animation_for_dice{
  0% {border: 5px solid rgb(236, 32, 32);}
  10% {border: 5px solid rgb(118, 64, 206);}
  20% {border: 5px solid rgb(39, 158, 255);}
  30% {border: 5px solid rgb(250, 35, 124);} 
  40% {border: 5px solid rgb(98, 196, 163);} 
  50% {border: 5px solid rgb(68, 250, 78);}
  60% {border: 5px solid rgb(68, 37, 243);} 
  70% {border: 5px solid rgb(85, 0, 134);} 
  80% {border: 5px solid rgb(125, 255, 18);} 
  90% {border: 5px solid rgb(0, 255, 157);} 
  100% {border: 5px solid rgb(255, 146, 74);} 
}
.user {
  position: relative;
  height: 62px;
  width: 62px;
  border: 1px solid black;
  display: inline-block;
}
.user img {
  height: 60px;
  width: 60px;
}
body {
  overflow: auto;
  height: 100vh;
  min-width: 260px;
  margin: 0;
  background-image: url("./images/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  color: #e1acac;
  position: sticky;
  top: 0;
}

td {
  width: 27px;
  height: 27px;
  position: relative;
}

.fa-star {
  -webkit-text-stroke: 0.5px white;
  font-size: 22px;
  width: 100%;
  text-align: center;
  /* z-index: -1; */
  position: absolute;
  left: 0px;
  top: 2px;
}

table {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1),
    0px 0px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background-color: white;
  margin: auto;
  border-collapse: collapse;
}

.arrow_top_bottom {
  position: absolute;
  left: 37%;
  top: 13%;
}
.arrow_left_right {
  position: absolute;
  top: 16%;
  left: 18%;
}

.winner {
  width: 107px;
  height: 107px;
  position: absolute;
}
#svg_0 {
  left: 6px;
  top: 30px;
}
#svg_2 {
  left: 54px;
  top: 30px;
}
#svg_1 {
  left: 31px;
  top: 3px;
}
#svg_3 {
  left: 31px;
  top: 56px;
}
.token_svg_0 {
  left: -2px;
  top: -8px;
  width: 15px;
  height: 25px;
  position: relative;
}
.token_svg_1 {
  left: 0px;
  top: 1px;
  width: 15px;
  height: 25px;
  position: relative;
}
.token_svg_2 {
  left: 3px;
  top: -8px;
  width: 15px;
  height: 25px;
  position: relative;
}
.token_svg_3 {
  left: 0px;
  top: -6px;
  width: 15px;
  height: 25px;
  position: relative;
}
.svg_token2{
    height: 23px;
    width: 14px;
    float: left;
    margin-left: -4px;
    margin-top: auto;
    position: relative;
}
.svg_token3{
  height: 20px;
    width: 11px;
    float: left;
    margin-left: -4px;
    margin-top: auto;
    position: relative;
}
.svg_token4{
  height: 20px;
    width: 10px;
    float: left;
    margin-left: -4px;
    margin-top: auto;
    position: relative;
}
@media (max-width: 496px) {
  td{
    width: 25px;
    height: 25px;
  }
  .animation_0,.animation_1,.animation_2,.animation_3 {
    width: 25px;
    height: 25px;
    top: 3px;
  }
  h1 {
    margin-bottom: 0px;
  }
  .svg_token3{
    width: 10px;
  }
  .svg_token4{
    width: 8.5px;
  }
  
  .token4 {
    padding-left: 7px;
  }
  .tokens {
    margin-left: -5px;
  }
  .fa-star {
    font-size: 19px;
    -webkit-text-stroke: 0.2px white;
  }
  .arrow_left_right {
    top: 12%;
}
  .div {
    width: 375px;
  }
  .dice {
    /* background-size: 30px; */
    width: 51px;
    height: 51px;
  }
  .user {
    height: 73px;
    width: 73px;
  }
  .user img {
    height: 71px;
    width: 71px;
  }
  .dice_cover {
    width: 61px;
    height: 61px;
  }
  #svg_3 {
    top: 50px;
  }
  .token_svg_0,
  .token_svg_2 {
    left: -3px;
    top: -11px;
  }
  .token_svg_1,
  .token_svg_3 {
    left: -2px;
  }
  .winner {
    width: 99px;
    height: 99px;
  }
}
@media (max-width: 405px) {
  body{
    height: 94vh;
  }
  td {
    width: 22px;
    height: 22px;
  }
  h1{
    margin-bottom: 0px;
    margin-top: 37px;
  }
  .svg_token2{
    width: 11px;
    height: 20px;
  }
  .svg_token3{
    width: 9.5px;
  }
  .svg_token4{
    width: 8px;
  }
  
  
  .fa-star {
    font-size: 17px;
  }
  .arrow_top_bottom,
  .arrow_left_right {
    font-size: 10px;
  }
  .arrow_left_right {
    top: 23.5%;
}
  .div{
    width: 330px;
  }
  .token {
    width: 12px;
    height: 21px;
    margin-left: 4px;
    margin-top: -8px;
  }
  .run_token{
    width: 12px;
    height: 21px;
  }
  .tokens {
    height: 18px;
    width: 9px;
  }
  .token2 {
    padding-left: 8.5px;
  }
  .token3 {
    padding-left: 6px;
  }
  .token4 {
    padding-left: 5px;
  }
  .dice {
    /* background-size: 30px; */
    width: 44px;
    height: 44px;
  }
  .user {
    height: 65px;
    width: 65px;
  }
  .user img {
    height: 63px;
    width: 63px;
  }
  .dice_cover {
    width: 54px;
    height: 54px;
  }
  #svg_0 {
    top: 24px;
  }
  #svg_1 {
    left: 27px;
  }
  #svg_2 {
    left: 47px;
    top: 24px;
  }
  #svg_3 {
    left: 27px;
    top: 44px;
  }
  .token_svg_0,
  .token_svg_2 {
    height: 21px;
    width: 12px;
    top: -2px;
    left: -2px;
  }
  .token_svg_1, .token_svg_3 {
    height: 19px;
    width: 11px;
    top: 1px;
}
  .winner {
    width: 86px;
    height: 86px;
  }
}

@media (max-width: 344px) {
  body{
    height: 91vh;
  }
  h1{
    margin-top: 55px;
  }
  td {
    width: 19px;
    height: 19px;
    line-height: 0px;
  }
  .animation_0,.animation_1,.animation_2,.animation_3 {
    width: 19px;
    height: 19px;
    left: -1px;
  }
  .svg_token3{
    width: 8px;
    height: 17px;
  }
  .svg_token4{
    width: 7px;
    height: 17px;
  }
  
  .fa-star {
    font-size: 14px;
    -webkit-text-stroke: 0.1px white;
  }
  .div{
    width: 285px;
  }
  #svg_0 {
    top: 20px;
}
#svg_1 {
  left: 25px;
  top: 2px;
}
  #svg_2 {
    left: 40px;
    top: 20px;
}
#svg_3 {
  left: 25px;
  top: 38px;
}

.token_svg_1{
  height: 19px;
  width: 10px;
  top: 0px;
}
.svg_token2 {
  width: 8px;
  height: 17px;
}
.token_svg_3 {
  height: 19px;
  width: 10px;
  top: -4px;
}
.token_svg_0, .token_svg_2 {
  height: 19px;
  width: 10px;
  top: -6px;
}
  .arrow_left_right {
    top: 53.5%;
}
.arrow_top_bottom{
  top: 47%;
}
  .token {
    width: 10px;
    height: 19px;
    margin-left: 3px;
    margin-top: -8px;
  }
  .run_token{
    width: 10px;
    height: 19px;
  }
  .tokens{
    height: 16px;
    width: 8px;
  }
  .winner {
    width: 66px;
    height: 66px;
  }
}

@media (max-width: 300px) {
  td {
    width: 17px;
    height: 17px;
    line-height: 0px;
  }
  h1 {
    font-size: 30px;
  }
  .svg_token3{
    width: 7.5px;
    height: 14px;
  }
  .svg_token4 {
    width: 6.5px;
    height: 15px;
}

  .fa-star {
    font-size: 9px;
    -webkit-text-stroke: 0px white;
  }
  .div {
    width: 255px;
  }
  .dot {
    width: 6px;
    height: 6px;
  }
  .dice {
    width: 36px;
    height: 36px;
  }
  .dice_cover{
    width: 45px;
    height: 45px;
  }
  .user{
    width: 54px;
    height: 54px;
  }
  .user img{
    width: 52px;
    height: 52px;
  }
  .token {
    height: 17px;
    margin-left: 2px;
    margin-top: -6px;
  }
  .run_token{
    height: 17px;
  }
  .tokens{
    height: 14px;
    width: 7.5px;
  }
  #svg_0 {
    top: 17px;
}
#svg_1 {
  left: 23px;
  top: 2px;
}
  #svg_2 {
    left: 38px;
    top: 17px;
}
#svg_3 {
  left: 23px;
  top: 33px;
}
.token_svg_1, .token_svg_3{
  height: 17px;
    width: 10px;
    top: -1px;
    left: -3px;
}
.token_svg_0, .token_svg_2 {
  height: 17px;
    width: 10px;
    top: -3px;
}
}

table,
td {
  border: 0.1vh solid black;
  padding: 0%;
}

.circle {
  height: 50%;
  width: 25%;
  margin: 12.5%;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}

svg {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}

.deg451 {
  background: linear-gradient(45deg, #06a049 50%, #ffde15 50%);
}

.deg452 {
  background: linear-gradient(45deg, #eb1c22 50%, #27abfd 50%);
}

.deg1351 {
  background: linear-gradient(135deg, #ffde15 50%, #27abfd 50%);
}

.deg1352 {
  background: linear-gradient(135deg, #06a049 50%, #eb1c22 50%);
}

.degcenter {
  background: conic-gradient(
    #ffde15 0% 12.5%,
    #27abfd 12.5% 37.5%,
    #eb1c22 37.5% 62.5%,
    #06a049 62.5% 87.6%,
    #ffde15 87.6% 100%
  );
}

.brh {
  border-right: hidden;
}

.blh {
  border-left: hidden;
}

.bbh {
  border-bottom: hidden;
}

.bth {
  border-top: hidden;
}

.red {
  background-color: #eb1c22;
}

.green {
  background-color: #06a049;
}

.yellow {
  background-color: #ffde15;
}

.blue {
  background-color: #27abfd;
}
.highlight0{
  background-color: #047b38;
}
.highlight1{
  background-color: #e6c700;
}
.highlight2{
  background-color: #039dfc;
}
.highlight3{
  background-color:#d31219;
}